@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.container {
  font-family: "Inter", sans-serif;
}

.media-slideshow-container {
  width: min(
    var(--media-slideshow-viewport-content),
    var(--media-slideshow-responsive-content-absolute-max-width)
  );
  position: relative;
  display: flex;
  height: 400px;
  scroll-snap-align: start;
  overflow: hidden;
  border-radius: theme("borderRadius.xl");
}

@screen lg {
  .media-slideshow-container {
    height: 740px;
  }
}

@screen md {
  .media-slideshow-container {
    height: 520px;
  }
}

.media-slideshow-caption {
}

.glow-text {
  font-size: 40px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
  text-align: center;
}

.color-style-media {
  width: calc(min(1680px, 100vw));
  height: 100vh;
}
