@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.container {
  font-family: "Inter", sans-serif;
}

.media-slideshow-container {
  width: min(
    var(--media-slideshow-viewport-content),
    var(--media-slideshow-responsive-content-absolute-max-width)
  );
  position: relative;
  display: flex;
  height: 400px;
  scroll-snap-align: start;
  overflow: hidden;
  border-radius: theme("borderRadius.xl");
}

@screen lg {
  .media-slideshow-container {
    height: 740px;
  }
}

@screen md {
  .media-slideshow-container {
    height: 520px;
  }
}

.media-slideshow-caption {
}
